In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [5]:
spark = ( SparkSession.builder.appName('teste')
.config('spark.sql.repl.eagerEval.enabled', True)
.getOrCreate()
        )

In [10]:
df = spark.read.parquet('./Downloads/DATASETS/DATASETS/IMC.parquet' , sep =";",inferSchema=True, header= True)

In [14]:
df

+--------------------+------+------+
|                nome|altura|  peso|
+--------------------+------+------+
|    Pietra Fernandes|   176| 97.88|
|   Ana Júlia da Rosa|   163| 80.56|
|    Fernando Martins|   150| 85.55|
|       Isis Silveira|   173|  70.1|
|       Cecília Porto|   190| 93.42|
|  Sra. Bruna Almeida|   198| 73.07|
|   Maria Julia Silva|   170| 71.36|
|Pedro Henrique da...|   188|105.57|
|   Davi Lucas Campos|   180| 98.49|
|      Juan Gonçalves|   175| 71.87|
+--------------------+------+------+

In [73]:
(
    df
    .withColumn("round", F.round(df.peso, 1))
    .withColumn("ceil", F.ceil(df.peso))
    .withColumn("floor", F.floor(df.peso))
    .withColumn("altura_negativa", -F.lit(df.altura))
    .withColumn("abs", F.abs(F.col("altura_negativa")))
    .withColumn("pow",F.round( F.pow(df.peso, 2),2))
    .withColumn("sqrt", F.sqrt(F.col("pow")))
)

+--------------------+------+------+-----+----+-----+---------------+---+--------+------------------+
|                nome|altura|  peso|round|ceil|floor|altura_negativa|abs|     pow|              sqrt|
+--------------------+------+------+-----+----+-----+---------------+---+--------+------------------+
|    Pietra Fernandes|   176| 97.88| 97.9|  98|   97|           -176|176| 9580.49| 97.87997752349558|
|   Ana Júlia da Rosa|   163| 80.56| 80.6|  81|   80|           -163|163| 6489.91| 80.55997765640207|
|    Fernando Martins|   150| 85.55| 85.6|  86|   85|           -150|150|  7318.8| 85.54998538866036|
|       Isis Silveira|   173|  70.1| 70.1|  71|   70|           -173|173| 4914.01| 70.10000000000001|
|       Cecília Porto|   190| 93.42| 93.4|  94|   93|           -190|190|  8727.3| 93.42001926782075|
|  Sra. Bruna Almeida|   198| 73.07| 73.1|  74|   73|           -198|198| 5339.22| 73.06996647050003|
|   Maria Julia Silva|   170| 71.36| 71.4|  72|   71|           -170|170| 5092.25| 71.36000280269053|
|Pedro Henrique da...|   188|105.57|105.6| 106|  105|           -188|188|11145.02|105.56997679264688|
|   Davi Lucas Campos|   180| 98.49| 98.5|  99|   98|           -180|180| 9700.28| 98.48999949233425|
|      Juan Gonçalves|   175| 71.87| 71.9|  72|   71|           -175|175|  5165.3| 71.87002156671446|
+--------------------+------+------+-----+----+-----+---------------+---+--------+------------------+

In [81]:
(
    df
    .withColumn("imc", F.round(F.pow(df.peso, 2) / df.altura,1))
    
)

+--------------------+------+------+----+
|                nome|altura|  peso| imc|
+--------------------+------+------+----+
|    Pietra Fernandes|   176| 97.88|54.4|
|   Ana Júlia da Rosa|   163| 80.56|39.8|
|    Fernando Martins|   150| 85.55|48.8|
|       Isis Silveira|   173|  70.1|28.4|
|       Cecília Porto|   190| 93.42|45.9|
|  Sra. Bruna Almeida|   198| 73.07|27.0|
|   Maria Julia Silva|   170| 71.36|30.0|
|Pedro Henrique da...|   188|105.57|59.3|
|   Davi Lucas Campos|   180| 98.49|53.9|
|      Juan Gonçalves|   175| 71.87|29.5|
+--------------------+------+------+----+