In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [5]:
spark = ( SparkSession.builder.appName('teste')
.config('spark.sql.repl.eagerEval.enabled', True)
.getOrCreate()
        )

In [76]:
clientes = spark.read.parquet('./Downloads/DATASETS/DATASETS/CLIENTES.parquet' , sep =";",inferSchema=True, header= True)
autores = spark.read.parquet('./Downloads/DATASETS/DATASETS/AUTORES.parquet' , sep =";",inferSchema=True, header= True)

In [88]:
autores.where(F.col("titulo").startswith("A"))

+---------+--------------------+--------------------+
|       id|              titulo|               autor|
+---------+--------------------+--------------------+
|054099410|A Alma Encantador...|         João do Rio|
|128422117|A Biblioteca da M...|           Matt Haig|
|049141399|   A Coleira do Cão |       Rubem Fonseca|
|065490862|      A Cor Púrpura |        Alice Walker|
|029077001|A Educação Sentim...|    Gustave Flaubert|
|032275599|   A Escrava Isaura |  Bernardo Guimarães|
|090690941|     A Estrela Sobe |      Marques Rebelo|
|095695255|  A Hora da Estrela |   Clarice Lispector|
|036365230|A Hora dos Rumina...|       José J. Veiga|
|069146824|  A Letra Escarlate | Nathaniel Hawthorne|
|025903823|      A Metamorfose |         Franz Kafka|
|015903574|  A Montanha Mágica |         Thomas Mann|
|076938216|        A Moreninha |Joaquim Manuel de...|
|010325500|A Obscena Senhora D |         Hilda Hilst|
|095678890|A Paixão Segundo ...|   Clarice Lispector|
|073269564|A Revolução dos B...|       George Orwell|
|076121829|     A Rosa do Povo |Carlos Drummond d...|
|087365849|A Senhorita Simpson |    Sérgio Sant’anna|
|045836954|     A Terra Inútil |         T. S. Eliot|
|116347123|  A Vida Como Ela É |    Nelson Rodrigues|
+---------+--------------------+--------------------+
only showing top 20 rows

In [90]:
(
    clientes
    .where(F.col("profissao").isin("Senador","Tenente"))
    .groupBy("profissao","name")
    .pivot("profissao", ["Tenente"])
    .agg(F.count("*"))
)

+---------+----------------+-------+
|profissao|            name|Tenente|
+---------+----------------+-------+
|  Tenente|  Arthur Pereira|      1|
|  Senador|Esther Rodrigues|   null|
|  Tenente|   Alana Rezende|      1|
|  Tenente|  Alexia Ribeiro|      1|
+---------+----------------+-------+